    @Test
    @DisplayName("{{testCaseName}}")
    public void {{methodName}}() {
        RequestSpecification requestSpec = RestAssured.given();
{{#notes}}
        // {{{.}}}
{{/notes}}
{{#headers}}
        requestSpec.header("{{key}}", "{{{escapedValue}}}");
{{/headers}}
{{#requestBodyMediaType}}
        requestSpec.header("Content-Type", "{{.}}");
{{/requestBodyMediaType}}
{{#responseBodyMediaType}}
        requestSpec.header("Accept", "{{.}}");
{{/responseBodyMediaType}}
{{#requestBody}}
{{#requestBodyTodoComment}}
        // {{{.}}}
{{/requestBodyTodoComment}}
        String requestBody = "{{{requestBody.escapedRawBody}}}";
        requestSpec.body(requestBody);
{{/requestBody}}
{{#pathParams}}
        requestSpec.pathParam("{{key}}", "{{{escapedValue}}}");
{{/pathParams}}
{{#queryParams}}
        requestSpec.queryParam("{{key}}", "{{{escapedValue}}}");
{{/queryParams}}

        Response response = requestSpec.{{httpMethod}}("{{path}}");
        response.then().statusCode({{expectedStatusCode}});
{{#expectedResponseBody}}

        String responseBody = response.getBody().asString();
{{#responseAssertionTodoComment}}
        // {{{.}}}
{{/responseAssertionTodoComment}}
{{#assertJsonResponseBody}}
        String expectedBodyJson = "{{{expectedResponseBody.escapedRawBody}}}";
        assertExpectedJsonBody(expectedBodyJson, responseBody);
{{/assertJsonResponseBody}}
{{/expectedResponseBody}}
    }
