{{#fileHeaderComment}}
{{fileHeaderComment}}
{{/fileHeaderComment}}
{{#customVariables.package}}
package {{customVariables.package}}
{{/customVariables.package}}

import io.restassured.RestAssured
import org.junit.jupiter.api.Assertions
import org.junit.jupiter.api.Test
import org.junit.jupiter.api.DisplayName
import org.junit.jupiter.api.BeforeEach
import com.fasterxml.jackson.core.JsonProcessingException
import com.fasterxml.jackson.databind.ObjectMapper
{{#customVariables.springBootTest}}
import org.springframework.boot.test.context.SpringBootTest
import org.springframework.beans.factory.annotation.Autowired
{{/customVariables.springBootTest}}

{{#customVariables.springBootTest}}
@SpringBootTest(
    webEnvironment = SpringBootTest.WebEnvironment.DEFINED_PORT
)
{{/customVariables.springBootTest}}
@DisplayName("Tests for {{operationName}}")
class {{className}} {
{{#customVariables.springBootTest}}
    @Autowired
    lateinit var objectMapper: ObjectMapper
{{/customVariables.springBootTest}}
{{^customVariables.springBootTest}}
    val objectMapper = ObjectMapper()
{{/customVariables.springBootTest}}

    @BeforeEach
    fun setup() {
        RestAssured.baseURI = "{{customVariables.baseUrl}}"
    }

    private fun assertExpectedJsonBody(expectedBodyJson: String, responseBody: String) {
        val expectedNode = objectMapper.readTree(expectedBodyJson)
        val actualNode = try {
            objectMapper.readTree(responseBody)
        } catch (e: JsonProcessingException) {
            null
        }

        when {
            actualNode != null -> Assertions.assertEquals(expectedNode, actualNode)
            expectedNode.isValueNode -> Assertions.assertEquals(expectedNode.asText(), responseBody)
            else -> Assertions.fail("Response body is not valid JSON")
        }
    }

{{#methods}}
{{> method}}
{{/methods}}
}
