    @Test
    @DisplayName("{{testCaseName}}")
    fun {{methodName}}() {
        val requestSpec = RestAssured.given()
{{#notes}}
        // {{{.}}}
{{/notes}}
{{#headers}}
        requestSpec.header("{{key}}", "{{{escapedValue}}}")
{{/headers}}
{{#requestBodyMediaType}}
        requestSpec.header("Content-Type", "{{.}}")
{{/requestBodyMediaType}}
{{#responseBodyMediaType}}
        requestSpec.header("Accept", "{{.}}")
{{/responseBodyMediaType}}
{{#requestBody}}
{{#requestBodyTodoComment}}
        // {{{.}}}
{{/requestBodyTodoComment}}
        val requestBody = "{{{requestBody.escapedRawBody}}}"
        requestSpec.body(requestBody)
{{/requestBody}}
{{#pathParams}}
        requestSpec.pathParam("{{key}}", "{{{escapedValue}}}")
{{/pathParams}}
{{#queryParams}}
        requestSpec.queryParam("{{key}}", "{{{escapedValue}}}")
{{/queryParams}}

        val response = requestSpec.{{httpMethod}}("{{path}}")
        response.then().statusCode({{expectedStatusCode}})
{{#expectedResponseBody}}
        val responseBody = response.body.asString()
{{#responseAssertionTodoComment}}
        // {{{.}}}
{{/responseAssertionTodoComment}}
{{#assertJsonResponseBody}}
        val expectedBodyJson = "{{{expectedResponseBody.escapedRawBody}}}"
        assertExpectedJsonBody(expectedBodyJson, responseBody)
{{/assertJsonResponseBody}}
{{/expectedResponseBody}}
    }
